.product-card{
  width: 250px;
  height: 350px;
}
.app{
  background: rgb(192, 193, 211);
  min-height:750px;;
}
.product-card img{
    height: 200px;
    width: 150px;
    margin: 20px;
}
.card-price{
  display: inline-block;
}
.card-quantity{
  float:right;
}
.navbar{
 background:rgb(0, 11, 114);
}
.cart-card{
  width: 100%;
}
.cart-card img{
  height: 100px;
  width: 75px;
}
.cart-page{
  background:white;
}
.home-header{
  color:rgb(0, 11, 114);
}